@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.card {
  padding: 207px 17px 17px;
  box-sizing: border-box;
  width: 200px;
  background: {
    image: url(../images/imac.jpeg);
    size: 160px 134px;
    repeat: no-repeat;
    position: center 33px;
  }

  &__title {
    @include font-style($font-md, $line-height-lg);

    font-weight: 500;
    color: $color-main-accent;
    margin-bottom: $vertical-margin-sm;
  }

  &__code {
    @include font-style($font-sm, $line-height-sm);

    color: $color-secondary;
    margin-bottom: $vertical-margin-md;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: $vertical-margin-lg;
  }

  &__reviews {
    @include font-style($font-sm, $line-height-sm);

    display: flex;
    align-items: flex-end;
    color: $color-main-accent;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: $vertical-margin-md;
  }

  &__price-label {
    @include font-style($font-md, $line-height-lg);

    color: $color-secondary;
  }

  &__price-value {
    @include font-style($font-default, $line-height-lg);

    font-weight: 700;
    color: $color-main-accent;
  }

  &__button {
    @include font-style($font-lg, $line-height-md);

    font-weight: 700;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 40px;
    background-color: $color-blue-accent;
    color: $color-white;
    border-radius: 5px;

    &:hover {
      color: $color-blue-accent;
      background-color: $color-white;
      border: 1px solid $color-blue-accent;
    }
  }
}
