$font-family-primary: Roboto;
$color-secondary: rgba(97, 96, 112, 1);
$color-main-accent: rgba(6, 11, 53, 1);
$color-white: rgba(255, 255, 255, 1);
$color-blue-accent: rgba(0, 172, 220, 1);
$font-sm: 10px;
$font-md: 12px;
$font-lg: 14px;
$font-default: 16px;
$line-height-sm: 14px;
$line-height-md: 16px;
$line-height-lg: 18px;
$vertical-margin-sm: 4px;
$vertical-margin-md: 16px;
$vertical-margin-lg: 24px;

@mixin font-style($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

html {
  font-family: $font-family-primary, sans-serif;
  font-size: $font-default;
}

body,
h2,
p {
  margin: 0;
}

.card {
  padding: 207px 17px 17px;
  box-sizing: border-box;
  width: 200px;
  background: {
    image: url(../images/imac.jpeg);
    size: 160px 134px;
    repeat: no-repeat;
    position: center 33px;
  }

  &__title {
    @include font-style($font-md, $line-height-lg);

    font-weight: 500;
    color: $color-main-accent;
    margin-bottom: $vertical-margin-sm;
  }

  &__code {
    @include font-style($font-sm, $line-height-sm);

    color: $color-secondary;
    margin-bottom: $vertical-margin-md;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: $vertical-margin-lg;
  }

  &__reviews {
    @include font-style($font-sm, $line-height-sm);

    display: flex;
    align-items: flex-end;
    color: $color-main-accent;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: $vertical-margin-md;
  }

  &__price-label {
    @include font-style($font-md, $line-height-lg);

    color: $color-secondary;
  }

  &__price-value {
    @include font-style($font-default, $line-height-lg);

    font-weight: 700;
    color: $color-main-accent;
  }

  &__button {
    @include font-style($font-lg, $line-height-md);

    font-weight: 700;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 40px;
    background-color: $color-blue-accent;
    color: $color-white;
    border-radius: 5px;

    &:hover {
      color: $color-blue-accent;
      background-color: $color-white;
      border: 1px solid $color-blue-accent;
    }
  }
}

.stars {
  display: flex;

  &__star {
    padding: 8px;
    background: {
      image: url(../images/star.svg);
      repeat: no-repeat;
      position: center;
      size: 82%;
    }

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  @for $i from 1 through 5 {
    &--#{$i} :nth-child(-n + #{$i}) {
      background-image: url(../images/star-active.svg);
    }
  }
}