.stars {
  display: flex;

  &__star {
    padding: 8px;
    background: {
      image: url(../images/star.svg);
      repeat: no-repeat;
      position: center;
      size: 82%;
    }

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  @for $i from 1 through 5 {
    &--#{$i} :nth-child(-n + #{$i}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
