$font-family-primary: Roboto;
$color-secondary: rgba(97, 96, 112, 1);
$color-main-accent: rgba(6, 11, 53, 1);
$color-white: rgba(255, 255, 255, 1);
$color-blue-accent: rgba(0, 172, 220, 1);
$font-sm: 10px;
$font-md: 12px;
$font-lg: 14px;
$font-default: 16px;
$line-height-sm: 14px;
$line-height-md: 16px;
$line-height-lg: 18px;
$vertical-margin-sm: 4px;
$vertical-margin-md: 16px;
$vertical-margin-lg: 24px;
